.main-color {
    background: rgb(142, 179, 235);
}

#nav-b {
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

#space-home {
    margin-top: 50px;
    margin-bottom: 50px;
}

#space-projects {
    margin-top: 50px;
    margin-bottom: 50px;
}

#space-resume {
    margin-top: 50px;
    margin-bottom: 100px;
}

#font {
    font-family: Arial, Helvetica, sans-serif;
  }

  #font-size {
      font-size: x-small;
  }

  #space-footer {
      margin-top: 20px;
      margin-bottom: 20px;
  }

  html {
      scroll-behavior: smooth;
  }

  #nav {
    position: fixed !important;
  }

  #nav-w {
      width: 100%;
  }

  #btn-space {
      padding-right: 10px;
  }